<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yfound.yfound">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_transparent"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YFound">
        <activity android:name=".ui.pengiriman_barang.DeliveryDetailActivity"></activity>
        <activity android:name=".ui.order_barang.OrderDetailSendActivity" />
        <activity android:name=".ui.order_barang.OrderDetailActivity" />
        <activity android:name=".ui.home.verifikasi_sales.VerifikasiDetailActivity" />
        <activity android:name=".ui.home.verifikasi_sales.VerifikasiActivity" />
        <activity android:name=".ui.home.pendaftaran_sales.AddSalesActivity" />
        <activity android:name=".ui.home.keranjang_belanjaan.CartActivity" />
        <activity android:name=".ui.home.HomeDetailActivity" />
        <activity android:name=".ui.home.AddProductActivity" />
        <activity
            android:name=".HomepageActivity"
            android:theme="@style/Theme.YFoundNoActionBar" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.YFoundNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>